# Ignore the build output directory
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# ASP.NET Core
wwwroot/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# JetBrains Rider
.idea/

# User-specific files
*.vspscc
*.vssscc
