@model ProjetoCadastro.Models.ContatoModel

@{ ViewData["Title"] = "Cadastrar Contato"; }

<div class="text-center">
    <h1 class="display-4">Cadastrar Contato</h1>
</div>

<form asp-controller="Contatos" asp-action="Create" method="post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" id="Nome" placeholder="Digite o nome do contato">
        @Html.ValidationMessageFor(x => x.Nome, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="CPF">CPF</label>
        <input type="text" asp-for="CPF" class="form-control" id="CPF" placeholder="Digite o CPF" data-mask="000.000.000-00">
        @Html.ValidationMessageFor(x => x.CPF, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label for="Telefone">Telefone</label>
        <input type="text" asp-for="Telefone" class="form-control" id="Telefone" placeholder="Digite o telefone" data-mask="(00) 00000-0000">
        @Html.ValidationMessageFor(x => x.Telefone, null, new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label>Tipo de Telefone</label>
        <div class="form-check">
            <input type="radio" asp-for="TelefoneTipo" value="Fixo" class="form-check-input" id="telefoneFixo">
            <label class="form-check-label" for="telefoneFixo">Fixo</label>
        </div>
        <div class="form-check">
            <input type="radio" asp-for="TelefoneTipo" value="Comercial" class="form-check-input" id="telefoneComercial">
            <label class="form-check-label" for="telefoneComercial">Comercial</label>
        </div>
        <div class="form-check">
            <input type="radio" asp-for="TelefoneTipo" value="Pessoal" class="form-check-input" id="telefonePessoal">
            <label class="form-check-label" for="telefonePessoal">Pessoal</label>
        </div>
        <div class="form-check">
            <input type="radio" asp-for="TelefoneTipo" value="WhatsApp" class="form-check-input" id="telefoneWhatsApp">
            <label class="form-check-label" for="telefoneWhatsApp">WhatsApp</label>
        </div>
        @Html.ValidationMessageFor(x => x.TelefoneTipo, null, new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-controller="Contatos" asp-action="Index" role="button">Voltar</a>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script>$(document).ready(function () {
            $('#CPF').mask('000.000.000-00');
            $('#Telefone').mask('(00) 00000-0000');
        });</script>
}
